# Code owners for talentradar-service-discovery-rw
# Global owners for all files (except .github/)
*  @nccharles @ishimweeli @nkbtemmy2 @bumlev

# GitHub folder specific owners
.github/ @bikaze @muhirwaJD

