# Code owners for development branch - talentradar-service-discovery-rw
# .github folder is managed by bikaze and muhirwaJD
/.github/ @bikaze @muhirwaJD

# Everything else is managed by all four backend code owners
* @nccharles @ishimweeli @nkbtemmy2 @bumlev
